In [3]:
from pandas import read_csv
from datetime import datetime as dt

In [5]:
data = read_csv("data/data_01.csv", parse_dates=[0, 1, 7])

In [18]:
data.head(5)

                            ts_utc  ...                                data_key_val_string
0 2024-10-31 01:14:50.846168+00:00  ...  ns=5;s="Root"."Objects"."Machines"."==0192E002...
1 2024-10-31 12:51:52.639923+00:00  ...  ns=5;s="Root"."Objects"."Machines"."==0192E002...
2 2024-10-31 12:51:52.639937+00:00  ...  ns=5;s="Root"."Objects"."Machines"."==0192E002...
3 2024-10-31 12:51:43.639956+00:00  ...  ns=5;s="Root"."Objects"."Machines"."==0192E002...
4 2024-10-31 12:51:38.639949+00:00  ...  ns=5;s="Root"."Objects"."Machines"."==0192E002...

[5 rows x 13 columns]

In [19]:
for column in data.columns:
    unique_values =  len(data[column].value_counts())
    flag = "!" if unique_values == 1 else " "
    print(f"[{flag}]: Column '{column}' has {unique_values} unique values")

[ ]: Column 'ts_utc' has 823997 unique values
[ ]: Column 'trigger_ts_utc' has 42827 unique values
[ ]: Column 'part_item_number' has 2 unique values
[!]: Column 'part_id' has 1 unique values
[!]: Column 'opc_ua_status' has 1 unique values
[ ]: Column 'opc_ua_has_changed_since_last_publish' has 2 unique values
[ ]: Column 'message_id' has 42827 unique values
[ ]: Column 'measurement_date' has 31 unique values
[ ]: Column 'measured_value_datatype' has 2 unique values
[ ]: Column 'measured_value' has 86738 unique values
[!]: Column 'machine_id' has 1 unique values
[!]: Column 'line' has 1 unique values
[ ]: Column 'data_key_val_string' has 94 unique values

In [24]:
use_columns = [
    "trigger_ts_utc",
    "measured_value",
    "data_key_val_string"
]

In [25]:
data[use_columns]

                          trigger_ts_utc  ...                                data_key_val_string
0       2024-10-31 01:14:50.846157+00:00  ...  ns=5;s="Root"."Objects"."Machines"."==0192E002...
1       2024-10-31 12:51:52.139911+00:00  ...  ns=5;s="Root"."Objects"."Machines"."==0192E002...
2       2024-10-31 12:51:52.139911+00:00  ...  ns=5;s="Root"."Objects"."Machines"."==0192E002...
3       2024-10-31 12:51:52.139911+00:00  ...  ns=5;s="Root"."Objects"."Machines"."==0192E002...
4       2024-10-31 12:51:52.139911+00:00  ...  ns=5;s="Root"."Objects"."Machines"."==0192E002...
...                                  ...  ...                                                ...
1133739 2024-10-05 17:51:28.733066+00:00  ...  ns=5;s="Root"."Objects"."Machines"."==0192E002...
1133740 2024-10-05 17:51:28.733066+00:00  ...  ns=5;s="Root"."Objects"."Machines"."==0192E002...
1133741 2024-10-05 17:51:28.733066+00:00  ...  ns=5;s="Root"."Objects"."Machines"."==0192E002...
1133742 2024-10-05 17:51:28.733066+00:00  ...  ns=5;s="Root"."Objects"."Machines"."==0192E002...
1133743 2024-10-05 17:51:28.733066+00:00  ...  ns=5;s="Root"."Objects"."Machines"."==0192E002...

[1133744 rows x 3 columns]